<div class="page-width">
  <div id="three-container" style="width:100%; height:500px; background:#111;"></div>
</div>

{{ 'three.min.js' | asset_url | script_tag }}
{{ 'three-viewer.js' | asset_url | script_tag }}

{% schema %}
{
  "name": "3D Viewer",
  "settings": [],
  "presets": [
    {
      "name": "3D Viewer"
    }
  ]
}
{% endschema %}
